<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("PRINCIPAL", "Index", "Tienda")</li>
                <li>
                    CLIENTE
                    <ul>
                        <li>LISTADO GENERAL</li>
                        <li>NUEVO CLIENTE</li>
                    </ul>
                </li>
                <li>
                    ORDEN DE COMPRA
                    <ul>
                        <li>LISTADO ORDENES DE COMPRA</li>
                        <li>GENERAR ORDEN DE COMPRA</li>
                    </ul>
                </li>
                <li>
                    VENTA
                    <ul>
                        <li>@Html.ActionLink("GENERAR VENTA", "carritoCompras", "Libro")</li>
                        <li>LISTADO DE FACTURAS</li>
                    </ul>
                </li>
                <li>
                    PRODUCTO
                    <ul>
                        <li>LISTADO GENERAL</li>
                        <li>NUEVO PRODUCTO</li>
                    </ul>
                </li>
                <li>
                    VENDEDOR
                    <ul>
                        <li>LISTADO GENERAL</li>
                        <li>NUEVO VENDEDOR</li>
                    </ul>
                </li>
                <li>
                    PROVEEDOR
                    <ul>
                        <li>@Html.ActionLink("LISTADO GENERAL", "proveedores", "Ventas")</li>
                        <li>@Html.ActionLink("NUEVO PROVEEDOR", "Agregar", "Ventas")</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
